<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
</head>
<body>
    <h1>Edit new post</h1>

    <form action="/blog/edit/<%= post._id %>" method="post" enctype="multipart/form-data">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" placeholder="<%= post.title %>">
        <label for="image">Upload Image:</label>
        <input type="file" name="image" id="image" accept="image/*">
        <br>
        <textarea name="body" id="body" placeholder="<%= post.body %>"></textarea>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>