.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0b1d26;
  }
  
  .spinner {
    width: 80px;
    height: 80px;
    border: 8px solid #d4af37; /* Gold color */
    border-top: 8px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  