<section id="#footer">
    <div  class="container-bot sec-foot" >
        <div class="left-bot"> 
            <div class="class-up">
                <h2 class="text-white heading-bot">
                    TPW
                </h2>
                <p class="text-white text-smaller">
                    Get out there , discover your best<br>Festival , have amazing experiences!
                </p>
            </div>
            <div class="class-down">
                <p class="text-grey">Copyright 2024 TPW Inc.</p>
            </div>
        </div>
        <div class="right-bot">
            <div class="left-list">
                <h3 class="text-yellow">
                    More on the Blog
                </h3>
                <ul>
                    <li><a href="#">About TPW</a></li>
                    <li><a href="#">Writers</a></li>
                    <li><a href="#">Write your experiences</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="right-list">
                <h3 class="text-yellow">
                    More on TPW
                </h3>
                <ul>
                    <li><a href="#">The Team</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Press</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>